<h1>New Game</h1>
<% @letters.each do |letter| %>
<span style="background-color: #76B39D; border:1px solid black; width: 50px;
height: 50px; text-align: center; padding: 10px;"><%= letter %></span>
<% end %>
<br>
<p>What is the longest word you can find?</p>

<form action="score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="grid" value= <%= @letters.join %> >
  <input type="text" name="word">
  <input type="submit" value="play">
</form>
<!-- <p>Find me in app/views/games/new.html.erb</p> -->
